<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css">
			<script src="javascripts/scale.fix.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		</head>
		<body>
			<div class="wrapper">
				<header>
					<h1 class="header">Unseemly</h1>
					<p class="header">Macros have types!</p>
					<ul>
					  <li><a class="buttons github" href="https://github.com/unseemly">GitHub Profile</a></li>
					</ul>

				</header>
			</div>
			<section class="container">
				{{ content }}
			</section>
		</body>
	</html>
